<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee" 
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
		https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  
  	<display-name>Escola</display-name>
  
  
  
<!--   	
	<servlet>
  		<servlet-name>salvarAluno</servlet-name>
  		<servlet-class>br.com.uniamerica.escola.SalvarAlunoServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  		<servlet-name>salvarAluno</servlet-name>	
  		<url-pattern>/salvarAluno</url-pattern>
  	</servlet-mapping>
 -->
  
  
  
	<servlet>
  		<servlet-name>listarAluno</servlet-name>
  		<servlet-class>br.com.uniamerica.escola.ListarAlunoServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  		<servlet-name>listarAluno</servlet-name>	
  		<url-pattern>/listarAluno</url-pattern>
  	</servlet-mapping>
  	
  	
  	
  	<servlet>
  		<servlet-name>excluirAluno</servlet-name>
  		<servlet-class>br.com.uniamerica.escola.ExcluirAlunoServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  		<servlet-name>excluirAluno</servlet-name>	
  		<url-pattern>/excluirAluno</url-pattern>
  	</servlet-mapping>
  	
  	
  	
	 <servlet>
  		<servlet-name>editarAluno</servlet-name>
  		<servlet-class>br.com.uniamerica.escola.EditarAlunoServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  		<servlet-name>editarAluno</servlet-name>	
  		<url-pattern>/editarAluno</url-pattern>
  	</servlet-mapping>
  	
</web-app>